USE [master]
GO
/****** Object:  Database [TEMA2_II]    Script Date: 4/21/2024 8:23:36 PM ******/
CREATE DATABASE [TEMA2_II]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEMA2_II', FILENAME = N'D:\A. FAcultate SEM 2\BD\MSSQL16.SQLEXPRESS\MSSQL\DATA\TEMA2_II.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEMA2_II_log', FILENAME = N'D:\A. FAcultate SEM 2\BD\MSSQL16.SQLEXPRESS\MSSQL\DATA\TEMA2_II_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEMA2_II].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEMA2_II]
GO
/****** Object:  Table [dbo].[Reprezentanta]    Script Date: 4/21/2024 8:23:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reprezentanta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Type_Car] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Nr_owners] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
